*, *::before, *::after {
    box-sizing: border-box;
}

html, * {
    box-sizing: border-box;
    font-family: helvetica;
    margin: 2vmin;
    border: 2%;
}

body {
    display: flex;
    /* flex-direction: column; */
    height: 80vh;
    justify-content: center;
    /* align-items: center; */

}

main div p {
    font-size: 14px;
    margin-bottom: %;
}

header h1 {
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    height: auto;
    
    /* 
    width: 100vw;
    height: 10vh;
    margin: 1px;
    padding: 1vmin;
    border-width: 30px;
    border-color: grey;
    padding: 10px; */
}


#board {
    display: grid;
    grid-template-columns: 13vh 13vh 13vh 13vh;
    grid-template-rows: 13vh 13vh 13vh 13vh;
    margin: auto;
    width: 59%;
    /* align-content: center;
    justify-content: center; */
    border-width: 40%;
    grid-gap: 0px;
}

.cell {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid grey;
    margin: 0;
    font: italic bold 2.5em helvetica;
    background-color: rgb(220, 223, 230);

}

.history {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: brown;

}

table tr {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows:4vw 4vw ;
    background-color: blanchedalmond;
    border: 0;
    grid-column-gap: 0;
}

/* #buttonsAndBoard {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: red; */
}

/* #board {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
} */

/* #prevScores {
    display: grid;
} */



/* 
main {
    display: grid;
    background-color: #CC5500;
    text-align: center;
    margin: 1vmin;
    height: 100vh;
    
}

#topSection {
    display: inline;
}

#reset {
    float: right;
}

h1 {
    font-size: 10vmin;
    font-weight: bold;
}

header h1, div p, h3 {
    text-align: left;
    margin: 2vmin;
}

.instructions {
    background-color: maroon;
}

#prevScores {
    background-color: blueviolet;
}

#board {
    display: grid;
    grid-template-columns: 30vmin 15vmin 30vmin;
    grid-template-rows: 10vmin 10vmin 30vmin 15vmin;
    background-color: burlywood;
    height: 30vh;
    width: 30vw;
    
    
}

table {
    display: flex;
    justify-content: space-around;
}

#board {
    display: flex;
    
} */