
/* CSS Reset End */


body {
    height: 100vh;
    display: block;
    justify-content: center;
}

html, * {
    font-family: helvetica;
    box-sizing: border-box;
}

header div {
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    width: 100vw;
    height: 10vh;
    margin: 1px;
    padding: 1vmin;
    border-width: 30px;
    border-color: grey;

}



/* 
main {
    display: grid;
    background-color: #CC5500;
    text-align: center;
    margin: 1vmin;
    height: 100vh;
    
}

#topSection {
    display: inline;
}

#reset {
    float: right;
}

h1 {
    font-size: 10vmin;
    font-weight: bold;
}

header h1, div p, h3 {
    text-align: left;
    margin: 2vmin;
}

.instructions {
    background-color: maroon;
}

#prevScores {
    background-color: blueviolet;
}

#board {
    display: grid;
    grid-template-columns: 30vmin 15vmin 30vmin;
    grid-template-rows: 10vmin 10vmin 30vmin 15vmin;
    background-color: burlywood;
    height: 30vh;
    width: 30vw;
    
    
}

table {
    display: flex;
    justify-content: space-around;
}

#board {
    display: flex;
    
} */